@import url("https://fonts.googleapis.com/css2?family=Kolker+Brush&display=swap");

* {
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Kolker Brush", cursive;
  margin: 0;
}
body {
  margin: 0 auto;
  overflow: hidden;
}

main {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.compteur {
  position: absolute;
  top: 25%;
  left: 45%;
}

.background {
  background-image: url("./assets/blur_effect.jpg");
  background-position: 50% 50%;
  filter: blur(100px);
  width: 100vw;
  height: 100vh;
}

span {
  font-size: 10rem;
  font-weight: 900;
  color: #fff;
}